{% render 'image'
, class: 'h-[50vh] lg:h-[42rem] aspect-[5/4]'
, image: section.settings.image %}
<div class="flex flex-col items-start gap-4 md:gap-5 md:max-w-sm">
<h1 class="max-w-xl scroll-m-20 text-4xl font-medium tracking-tight lg:text-5xl">
  {{ section.settings.heading }}
</h1>
<p class="max-w-prose text-xl text-gray-500">
  {{ section.settings.text }}
</p>
<ul class="flex flex-col gap-2 list-none w-full" role="list">
  {% for block in section.blocks %}
    {% liquid
      capture index
        cycle '1', '2', '3'
      endcapture
      assign placeholder = 'hero-apparel-' | append: index
    %}
    {% case block.type %}
      {% when 'choice' %}
        <li {{ block.shopify_attributes }}>
          {% if block.settings.image != blank %}
            <a
              {% if section.settings.button_link != blank %}
              href="{{ section.settings.button_link }}"
              {% else %}
              href="{{ routes.root_url }}"
              {% endif %}
              {% if block.settings.answer %}
              data-choice-value="{{ block.settings.answer | escape }}"
              {% endif %}
              class="next-step-button relative no-underline w-full">
              {% render 'image'
                , class: 'w-[5rem] h-[5rem] aspect-square'
                , placeholder: placeholder
                , image: block.settings.image
              %}
            </a>
          {% else %}
          
            <a
              {% if block.settings.button_link != blank %}
              href="{{ block.settings.button_link }}"
              {% else %}
              href="{{ routes.root_url }}"
              {% endif %}
              {% if block.settings.answer %}
              data-choice-value="{{ block.settings.answer | escape }}"
              {% endif %}
              class="next-step-button inline-flex items-center justify-center px-6 h-11 font-medium rounded-sm text-white bg-black w-full">
              {{ block.settings.button_label }}
            </a>
          {% endif %}
        </li>
    {% endcase %}
  {% endfor %}
  {% if section.settings.back_button_label != blank %}
    <li>
      <a
        {% if section.settings.previous_page != blank %}
        href="{{ section.settings.previous_page.url }}"
        {% elsif section.settings.back_button_link != blank %}
        href="{{ section.settings.back_button_link }}"
        {% else %}
        href="{{ routes.root_url }}"
        {% endif %}
        class="previous-step-button inline-flex items-center justify-center px-4 h-10 font-medium text-black underline-offset-4 hover:underline w-full">
        {{ section.settings.back_button_label }}
      </a>
    </li>
  {% endif %}
</ul>
</div>