{% comment %} 
   - metaobject:
      steps: [product_finder_step metaobject]
      image: Image file for final result page
      header: Header text for final result page
      body: Body text for final result page
{% endcomment %}
<section class="grid items-center py-[calc(var(--spacing)*0.75)] lg:py-[--spacing]" style="--spacing: {{ section.settings.spacing }}px">
  {% liquid
    assign progress = 1
    assign total = 0
    assign stepData = nil
    for metaobject in metaobject.steps.value
      if forloop.index == 1
        assign stepData = metaobject
      endif
      assign total = total | plus: 1
    endfor
    assign progressTotal = total 
    if metaobject.collect_email
      assign progressTotal = total | plus: 1
    endif
    render 'progress-bar', class: 'absolute top-0', value: progress, max: progressTotal


    assign current_step = progress
    assign placeholder = 'hero-apparel-' | append: current_step
    assign name = 'quiz-step-' | append: current_step
    assign image = stepData.image
  %}
  <section class="{{ name }} grid items-center py-12 md:py-16 lg:py-20">
    <quiz-router data-totalsteps="{{ total }}">
      <div class="container mx-auto px-4 flex flex-col md:flex-row items-center gap-4 md:gap-8">
        {% render 'image'
          , class: 'h-[40vh] lg:h-[35rem] aspect-[4/3]'
          , placeholder: placeholder
          , image: image %}
        <div class="flex flex-col gap-4">
          <h2 class="max-w-xl scroll-m-20 text-4xl font-medium tracking-tight lg:text-5xl">
            {{ stepData.heading }}
          </h2>
          <p class="max-w-prose text-lg mb-4 text-gray-500">
            {{ stepData.text }}
          </p>
          <div class="flex flex-col gap-2">
            {% for choice in stepData.choices.value %}
              {% if choice.button_label != blank %}
                <button
                  type="button"
                  class="inline-flex items-center justify-center px-6 h-11 font-medium rounded-sm text-white bg-black transition-opacity disabled:opacity-60 disabled:cursor-not-allowed"
                  data-value="{{ choice.answer | handleize }}"
                  data-next="{{ choice.product_finder_next_step.value.system.url }}">
                  {{ choice.button_label }}
                </button>
              {% endif %}
            {% endfor %}
            {% if stepData.previous_product_finder_step != nil %}
              <button
                type="button"
                data-previous="{{ stepData.previous_product_finder_step }}"
                class="inline-flex items-center justify-center px-4 h-10 font-medium text-black underline-offset-4 hover:underline w-full">
                {{ 'quiz.go_back' | t }}
              </button>
            {% else %}
              <a href="/" class="inline-flex items-center justify-center px-4 h-10 font-medium text-black underline-offset-4 hover:underline w-full">
                {{ 'quiz.go_back' | t }}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </quiz-router>
  </section>

</section>

{% schema %}
  {
    "name": "Main quiz",
    "settings": [],
    "presets": [
      {
        "name": "Main quiz",
        "blocks": []
      }
    ]
  }
{% endschema %}