{% comment %}
  This section is used by Section Rendering API.
{% endcomment %}

{% liquid
  assign current_step = section.settings.order
  assign name = 'quiz-step-' | append: current_step
  assign image = shop.metaobjects.quiz_step[name].image

  render 'progress-bar', class: 'fixed top-0 inset-x-0', value: current_step, max: 5
%}

<section class="{{ name }} grid items-center py-12 md:py-16 lg:py-20">
  <quiz-router data-current-step="{{ current_step }}">
    <div class="container mx-auto max-w-3xl px-4 flex flex-col gap-4 md:gap-8">
      {% render 'image', class: 'h-[40vh] lg:h-[20rem] aspect-[5/3]', image: image %}
      <h2 class="max-w-xl scroll-m-20 text-4xl font-medium tracking-tight lg:text-5xl">
        {{ section.settings.heading }}
      </h2>
      <p class="max-w-prose text-lg text-gray-500">
        {{ section.settings.text }}
      </p>
      {% render 'newsletter-form', button_label: 'Save your results', id: section.id %}

      <div class="results">
        {% if recommendations.performed and recommendations.products_count > 0 %}
          <ul
            class="grid grid-cols-2 gap-4 md:grid-cols-3 list-none"
            role="list">
            {% for recommendation in recommendations.products %}
              <li>
                <div class="flex flex-col p-3 rounded-md bg-white border border-gray-200">
                  {% render 'image', image: recommendation.featured_image %}
                  <div class="flex flex-col gap-1 mt-4">
                    <h3 class="font-medium line-clamp-1">{{ recommendation.title }}</h3>
                    <p class="text-gray-500 mb-2">{{ recommendation.price | money }}</p>
                    {% form 'product', recommendation %}
                      <input type="hidden" name="id" value="{{ recommendation.first_or_available_variant.id }}">
                      <button
                        class="inline-flex items-center justify-center px-4 h-11 font-medium rounded-sm text-white bg-black transition-opacity disabled:opacity-60 disabled:cursor-not-allowed w-full "
                        name="add">
                        Add to cart
                      </button>
                    {% endform %}
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <a
        href="{{ routes.root_url }}"
        class="inline-flex items-center justify-center px-4 h-11 font-medium rounded-sm text-white bg-black mt-4">
        Go back to the homepage
      </a>
    </div>
  </quiz-router>
</section>

{% schema %}
{
  "name": "Quiz Step 5",
  "settings": [
    {
      "type": "number",
      "id": "order",
      "label": "Order",
      "default": 5,
      "info": "The order of the step in the quiz."
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Choose what you want to work on."
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Do you want to work on your business or on your business?"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Show me the results"
    }
  ]
}
{% endschema %}
